.logo {
    position: relative;
    width: 400px ;
    height: 400px ;
    margin-left: calc( 50% - 200px );
    margin-top: 100px;
    background-image: linear-gradient(45deg , #fdf497 0% ,#f6cb00 5%, #fd5949 45% , #d6249f 60% , #7f3eb2 90% );
    border-radius: 80px ;
}

.innerdiv {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 300px;
    height: 300px;
    background-color: transparent;
    border: 20px solid white;
    border-radius: 80px;
}

.logo::after{
    position: absolute;
    content: "";
    left: 290px;
    top: 100px;
    border: 14px solid white;
    border-radius: 50%;
}

.logo::before{
    position: absolute;
    content: "";
    width: 120px;
    height: 120px;
    left: 120px;
    top: 120px;
    border: 20px solid white;
    border-radius: 50%;
}